

body{
  background-image: url(D:\REACT\weather\src\images\image-1.jpg);
  background-repeat: no-repeat;
  background-size:   cover;
  
}
#container{
  background-image: url("https://pixabay.com/get/g7e5781b84bc87fe486ff7f4ef62d8ec8888d7be976c1cc04cba16c28d4b5255c057622b74fcb4b5f995cbb906de8c6e7.png");
  background-repeat: no-repeat;
  background-size:   cover;
}
